<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SkillTrackerDBEntities" connectionString="metadata=res://*/SkillTrackerDB.csdl|res://*/SkillTrackerDB.ssdl|res://*/SkillTrackerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FSD;initial catalog=SkillTrackerDB;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>