<div class="container body">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" [routerLink]="['/skilldashboard']"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/skilldashboard']">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addskill']">Manage Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addemployee']">Add Associate</a>
            </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
